<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <!--<link rel="stylesheet" href="../static/css/main.css">-->
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/js/home.js"></script>
    <script src="../static/js/jquery.easing.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="head">
            <div class="title">
                <a class="ph">排行</a>
                <h1>贝壳优选</h1>
                <div class="user-info">
                    <div class="left">
                        <img src="../static/img/头像.jpg" height="62" width="62"/>
                    </div>
                    <a class="right" style="font-size: 1.3em;">
                        <span>用户名</span>
                        <span>个人中心</span>
                    </a>
                </div>
            </div>
            <ul class="nav">
                <li><a class="pro">基因检测</a></li>
                <li><a class="news">营养基础</a></li>
                <li><a class="ser">育儿课程</a></li>
                <li><a class="con">特配奶粉</a></li>
                <li><a class="job">家庭必备</a></li>
            </ul>
        </div>
        <div class="con tent">
            <div class="module">
                <div id="pro" class="box">
                    <h3>基因检测</h3>
                </div>

                <div id="news" class="box">
                    <h3>营养基础</h3>
                </div>

                <div id="ser" class="box">
                    <h3>育儿课程</h3>
                </div>

                <div id="con" class="box">
                    <h3>特配奶粉</h3>
                </div>

                <div id="job" class="box">
                    <h3>家庭必备</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>